.main {
    margin-top: 50px;
}


table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td{
    padding: 3px;
    font-weight: normal;
}

thead{
    background-color: var(--bs-gray-200);
}

td, th{
    border: 1px solid var(--gray);
    border-left: none;
    border-top: none;
}



.acc_category{
    background: var(--menu-light);
    color: #fff;
}

.acc_category td{
    border: none ;
}

.title_category{
    margin: 0 10px 0 5px;
    font-size: 15px;
}


 .tr_enabled{
    background-color: var(--bs-gray-400);
}.tr_disabled{background-color: inherit;}

.phy_icon{font-size: 17px;margin-left: 10px;}
.vir_icon{font-size: 15px;margin-left: 30px;}
.wan_icon{color: var(--bs-success);}
.lan_icon{color: var(--bs-danger);}


.td_collapse{
    text-align: center;
    width: 30px;
}


@media (max-width:1000px) {
    table{
        width: 90%;
        margin: 20px auto;
    }
}