.main {
    margin-top: 50px;
}

.div_btn{
    margin-left: 10px;
}


table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td{
    padding: 3px;
    font-weight: normal;
}

thead{
    background-color: var(--bs-gray-200);
}

td, th{
    border: 1px solid var(--gray);
    border-left: none;
    border-top: none;
}



.acc_category{
    background: var(--menu-light);
    color: #fff;
}

.acc_category td{
    border: none ;
}

.title_category{
    margin: 0 10px 0 0px;
    font-size: 15px;
}


 .tr_enabled{
    background-color: var(--bs-gray-400);
}

tr span{
    padding-left: 2px;
    vertical-align: middle;
    font-weight: 500;
    text-transform: capitalize;
}
.tr_phy img, .tr_vir img{padding: 0;width: 25px;}
.tr_child img{padding: 0;width: 20px;}


.child_icon{margin-left: 30px;}


.td_collapse{
    text-align: center;
    width: 30px;
}


.div_full{
    width: 100%;
    padding: 0 10px 0 12px !important;
}

@media (max-width:1000px) {
    table{
        width: 90%;
        margin: 20px auto;
    }

    .div_btn, .btn-show-menu{margin-left: 50px;}
}

