.main {
    margin-top: 50px;
}

.div_btn{
    margin-left: 10px;
}


table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td{
    padding: 4px;
    font-weight: normal;
}

thead{
    background-color: var(--bs-gray-200);
}

td, th{
    border: 1px solid var(--gray);
    border-left: none;
    border-top: none;
}

td:nth-child(2){text-transform: uppercase;}

.acc_category{
    background: var(--menu-light);
    color: #fff;
}

.acc_category td{
    border: none ;
}

.title_category{
    margin: 0 10px 0 5px;
    font-size: 15px;
}


 .tr_enabled{
    background-color: var(--bs-gray-400);
}.tr_disabled{background-color: inherit;}

tr img{width: 15px;}
.phy_icon{font-size: 17px;}
.vir_icon{margin-left: 10px;}
.wan_icon{color: var(--bs-success);}
.lan_icon{color: var(--bs-danger);}


.td_collapse{
    text-align: center;
}


